.clock {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  padding: 20px;
  width: 340px;
  color: blueviolet;
  font-size: 36px;
  background-color: rgb(161, 244, 244);
}
/* .clock-block {
  width: 340px;
} */
.actions {
  width: 340px;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 5px;
}
.stop-btn {
  border: 2px solid blue;
  width: 170px;
  padding: 15px;
  color: yellow;
  background-color: rgb(139, 235, 226);
  font-weight: 700;
  font-size: 36px;
  font-style: italic;
}

.start-btn {
  border: 2px solid blue;
  width: 170px;
  padding: 15px 0 15px 0;
  color: yellow;
  background-color: rgb(139, 235, 226);
  font-weight: 700;
  font-size: 36px;
  font-style: italic;
}

.class-timer {
  border: 1px solid black;
  width: 340px;
  display: flex;
  justify-content: center;
}
